# Ignore Python bytecode files
*.pyc

# Ignore virtual environment
venv/

# Ignore pipenv or poetry files if using them
Pipfile.lock
poetry.lock

# Ignore IDE specific files and directories
.idea/
.vscode/

# Ignore any logs or temporary files
*.log
*.tmp
